@model Hospital.Models.Therapy

@{
    ViewBag.Title = "Create";
}
<body style="background-image:url(../../Images/kk.jpg); background-repeat:no-repeat; background-size: cover;background-position: center;">
    <br />
    <h2>Prescribe a therapy</h2>
    <br />
    <br />




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="margin-left:28%">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.DrugId, "DrugId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DrugId, new SelectList(ViewBag.Drugs, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DrugId, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Diagnose, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Diagnose, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Diagnose, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.PatientId, "PatientId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Raw(ViewBag.patient)

                </div>
            </div>


            @Html.HiddenFor(m => m.PatientId, new { Value = ViewBag.patientId })



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

        <button class="btn btn-default btn-lg">
            @Html.ActionLink("Back to Patients", "Index","Patients",null, new { @style = "text-decoration:none;color:#1C2833" })
        </button>
    <br />
    <br />

    </body>

    <style>
        .custom {
            width: 100%;
            border-radius: 4px;
            padding: 7px 7px;
            margin: 6px 0;
            box-sizing: border-box;
        }

            .custom:hover {
                border: 2px solid #b5adb8;
            }

        .textarea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            resize: none;
        }

            .textarea:hover {
                border: 2px solid #b5adb8;
            }
    </style>
