@model Hospital.Models.Drug

<body style="background-image:url(../../Images/aspirina.jpg); background-repeat:no-repeat; background-size: cover;background-position: center;">
    <br />

    <div>
        <div class="row">


            <div class="col-lg-10">

                <h1 style="margin-left:50%">
                    <b>
                        @Html.DisplayFor(model => model.Name)
                    </b>
                </h1>
                <br />
                <br />
                <div class="col-lg-3 col-lg-offset-3" style="font-size:25px">

                    <h3>
                        <i class="glyphicon glyphicon-barcode"> </i>
                        <b>@Html.DisplayNameFor(model => model.GenericName)</b></i>
                    </h3>


                    <h3>
                        @Html.DisplayFor(model => model.GenericName)
                    </h3>
                    <br />
                    <h3>
                        <i class="glyphicon glyphicon-user"> </i>
                        <b>@Html.DisplayNameFor(model => model.Producer)</b></i>
                    </h3>


                    <h3>
                        @Html.DisplayFor(model => model.Producer)
                    </h3>
                    <br />




                </div>
                <div class="col-lg-3 col-lg-offset-3">

                    <h3>
                        <i class="fa fa-list" > </i>
                        <b>@Html.DisplayNameFor(model => model.Indications)</b></i>
                    </h3>


                    <h3>
                        @Html.DisplayFor(model => model.Indications)
                    </h3>
                    <br />
                    <h3>
                        <i class="fa fa-plus"> </i>
                        <b>@Html.DisplayNameFor(model => model.Usage)</b></i>
                    </h3>


                    <h3>
                        @Html.DisplayFor(model => model.Usage)
                    </h3>
                    <br />




                </div>
            </div>

        </div>
        <br />
        <br />
        <p style="margin-left:800px;margin-top:-20px">
            @if (User.IsInRole("Administrator"))
            {
                <button class="btn btn-default btn-md">
                    @Html.ActionLink("Edit info about this drug", "Edit", new { id = Model.Id, @style = "text-decoration:none" }, new { id = Model.Id, @style = "text-decoration:none" })
                </button>
            }
            @if (User.IsInRole("Administrator") )
            {
                <button class="btn btn-default btn-md">
                    @Html.ActionLink("Back to Drugs", "Index", new { id = Model.Id, @style = "text-decoration:none" }, new { id = Model.Id, @style = "text-decoration:none" })
                </button>
            }
        </p>
    </div>

</body>
